# Ignore .vscode directory
.vscode/

# Ignore other specific files
codeql-custom-queries-javascript/
git/
gpg/
gpg-connect-agent/
main/

# Ignore the keys
kamran-my-new-private-key.asc
kamran-my-new-public-key.asc